###########################################################################
# This is an example of what you put in your plugin assets config file;
# You must place it on your plugin`s base folder in json format;

# built-... - a list of built (not supported for compilation) assets (the suffix -head/-end means that in what place of html document should it be placed);
# copy - determines which files (can be masked) should be published to apropriate public folder;
###########################################################################

{
  "built-head": {
    "src": [
      "css/plugin.css",
      "css/plugin-2.css",
      "css/plugin-3.css"
    ],
    "copy": [
      "css-lib/*.css"
    ]
  },
  "built-end": {
    "src": [
      "js/plugin.js",
      "js/plugin-2.js",
      "js/plugin-3.js"
    ],
    "copy": [
      "js-lib/*.js"
    ]
  },
  "head": {
    "src": [],
    "copy": []
  },
  "bottom": {
    "src": [],
    "copy": []
  }
}